/CURSO2/2/ADAT/RECUPERACION/pruebaXML_2020/pruebaXML_2020/build/
/CURSO2/2/ADAT/RECUPERACION/pruebaXML_2020/pruebaXML_2020/dist/
/CURSO2/2/ADAT/RECUPERACION/pruebaXML_2020/pruebaXML_2020/nbproject/private/
/CURSO2/2/ADAT/RECUPERACION/JPA/semanaCultural/target/
/CURSO2/2/ADAT/RECUPERACION/XML/pruebaXML_2020/pruebaXML_2020/build/
/CURSO2/2/ADAT/RECUPERACION/XML/pruebaXML_2020/pruebaXML_2020/dist/
/CURSO2/2/ADAT/RECUPERACION/XML/pruebaXML_2020/pruebaXML_2020/nbproject/private/
/CURSO2/2/ADAT/RECUPERACION/XML/ventanaXML/target/
/CURSO2/2/ADAT/RECUPERACION/RecuperacionXML/nbproject/private/
/CURSO2/2/ADAT/RECUPERACION/GestionRutas/target/
/CURSO2/3/ADAT/Netbeans/Eventos/nbproject/private/
/CURSO2/3/ADAT/Netbeans/UsuariosCRUD/target/
/CURSO2/3/ADAT/Netbeans/JavaApplication4/nbproject/private/
/CURSO2/3/ADAT/Netbeans/JavaApplication4/build/
/CURSO2/3/ADAT/Netbeans/AlumnosCRUD/target/
/CURSO2/3/ADAT/Netbeans/EjemploJPA/target/
/CURSO2/3/ADAT/Netbeans/semanaCultural/target/
/CURSO2/3/ADAT/Netbeans/HerenciaJPA/target/
/CURSO2/3/ADAT/Netbeans/pruebaXML_2022/target/
/CURSO2/3/ADAT/Netbeans/RutaXML/target/
/CURSO2/3/ADAT/Netbeans/EjemploGeneralJPA/target/
/CURSO2/3/ADAT/Netbeans/ManuelConde_ExamenADA1/target/
