<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="nuevoExpediente()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Expediente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let expediente of alumno.expedientes; let indice=index;">
    <ion-grid>
      <ion-row>
        <ion-col size=10>{{expediente.descripcion}}</ion-col>
        <ion-col size=1>
          <button ion-button icon-only (click)="eliminarDocumento(indice)">
            <ion-icon name="trash-outline"></ion-icon>
          </button>
        </ion-col>
        <ion-col size=1>
          <button ion-button icon-only (click)="verDocumento(indice)">
            <ion-icon name="document-text-outline"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>