<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="searchNameClick()">
        <ion-icon slot="icon-only" name="search" size='small'></ion-icon>
      </ion-button>
      <ion-input placeholder="nombre" [(ngModel)]="movieName"></ion-input>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor = "let movie of movies; let indice = index;">
      <ion-thumbnail slot="start">
        <img src = {{movie.thumbnail}}>
      </ion-thumbnail>
      {{movie.name}}
    </ion-item>
  </ion-list>
</ion-content>