<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="buscarPelicula()">
        <ion-icon slot="icon-only" name="search" size='small'></ion-icon>
      </ion-button>
      <ion-input placeholder="nombre" [(ngModel)]="movieName"></ion-input>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-row>
      <ion-item *ngFor="let movie of movies; let indice=index;">
        <ion-col size="5">
          {{movie.title}}
          {{movie.release_date}}
          {{movie.vote_average}}
        </ion-col>
        <ion-col size="4">
          <ion-thumbnail>
            <img src="{{movie.poster_path}}">
          </ion-thumbnail>
        </ion-col>
        <ion-col size="3">
          <ion-button>
            <ion-icon name="star"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-item>
    </ion-row>
  </ion-list>
</ion-content>