<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="buscarPelicula()">
        <ion-icon slot="icon-only" name="search" size='small'></ion-icon>
      </ion-button>
      <ion-input placeholder="nombre" [(ngModel)]="movieName"></ion-input>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-row>
      <ion-item *ngFor = "let movie of movies; let indice = index;">
        <ion-col size=8>{{movie.title}}</ion-col>
      </ion-item>
    </ion-row>
  </ion-list>
</ion-content>