<ion-header>
  <ion-toolbar>
    <ion-title>pagina2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-item>
      <ion-col size="2">
        <button ion-button icon-only danger>
          <ion-icon (click)="buscarPelicula(nombrePelicula)" name="search-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col size="10">
        <ion-input [(ngModel)]="nombrePelicula"></ion-input>
      </ion-col>
    </ion-item>
  </ion-row>

  <!--<ion-thumbnail style="width: 270px; height: 440px;">
    <img src="{{configuration.poster_sizes}}">
  </ion-thumbnail>-->

  <ion-list>
    <ion-row>
      <ion-item *ngFor="let movie of movies; let indice=index;">
        <ion-col size="5" (click)="movieClick(indice)" >
          {{movie.title}}
        </ion-col>
        <ion-col size="4" (click)="movieClick(indice)" >
          <ion-thumbnail>
            <img src="{{movie.poster_path}}">
          </ion-thumbnail>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="introducirPuntuacion()" (click)="presentAlert(indice)">
            <ion-icon name="star"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-item>
    </ion-row>
  </ion-list>
</ion-content>