<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Creación de una posicion</title>
  </head>
  <body>
    <h1>Creación de una posicion</h1>
    
    <form method="post" th:action="@{/guardaruta}" th:object="${ruta}">
          
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripcion</label>
            <input type="text" class="form-control" id="descripcion" th:field="*{descripcion}">
          </div>
          <div class="mb-3">
            <label for="distanciaReal" class="form-label">Distancia Real</label>
            <input type="text" class="form-control" id="distanciaReal" th:field="*{distanciaReal}">
           </div>
          <div class="mb-3">
            <label for="velocidadReal" class="form-label">Velocidad Real</label>
            <input type="text" class="form-control" id="velocidadReal" th:field="*{velocidadReal}">
          </div>
         
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

  </body>
</html>