<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>INICIO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Bienvenido a la aplicación, ¿Qué desea?</div>
        
        <button onclick="location.href='/listado_posiciones'" type="button">Ver Posiciones</button>
        <button onclick="location.href='/listado_tramos'" type="button">Ver Tramos</button>
        <button onclick="location.href='/listado_rutas'" type="button">Ver Rutas</button>
        <button onclick="location.href='/form_posicion'" type="button">Añadir Posicion</button>
        <button onclick="location.href='/form_tramo'" type="button">Añadir Tramo</button>
        <button onclick="location.href='/form_ruta'" type="button">Añadir Ruta</button>

    </body>
</html>
