<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
       <title>Estás en ver tramos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
             
  <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nodo Inicial</th>
          <th scope="col">Nodo Final</th>
          
          
        </tr>
      </thead>
      
       <tbody>
               
        <div th:each="tramo:${tramos}">
            <tr>
              <th scope="row" th:text="${tramo.idtramo}"></th>
              <td th:text="${tramo.nodoInicial}"></td>
              <td th:text="${tramo.nodoFinal}"></td>
             
              
            </tr>
        </div>
  
  </tbody>
      
  </table>
    </body>
</html>
