<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Formulario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <div formGroupName="datos">
      <ion-item>
        <ion-label position="floating" color="primary">DNI</ion-label>
        <ion-input type="text" formControlName="dni" placeholder="00000000X"></ion-input>
      </ion-item>
      <div class="validation-errors">  <!--validación de errores para el dni-->
        <ng-container *ngFor="let validation of validation_messages.dni">
          <div class="error-message"
            *ngIf="validations_form.get('datos').get('dni').hasError(validation.type) && (validations_form.get('datos').get('dni').dirty || validations_form.get('datos').get('dni').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating" color="primary">Fecha nacimiento</ion-label>
        <ion-input type="text" formControlName="fechaNacimiento" placeholder="yyyy-mm-dd"></ion-input>
      </ion-item>
      <div class="validation-errors">  <!--validación de errores para la fecha-->
        <ng-container *ngFor="let validation of validation_messages.fechaNacimiento">
          <div class="error-message"
            *ngIf="validations_form.get('datos').get('fechaNacimiento').hasError(validation.type) && (validations_form.get('datos').get('fechaNacimiento').dirty || validations_form.get('datos').get('fechaNacimiento').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>
    <ion-button color="primary" class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">
      Enviar</ion-button>
  </form>
</ion-content>